[submodule "hdeem_cxx"]
	path = hdeem_cxx
	url = https://github.com/tud-zih-energy/hdeem_cxx.git
[submodule "common"]
	path = common
	url = https://github.com/score-p/scorep_plugin_common.git
[submodule "scorep"]
	path = scorep
	url = https://github.com/score-p/scorep_plugin_cxx_wrapper
